.transaction-filters {
  list-style-type: none;
  display: flex;
  padding: 0px;
  padding-bottom: 12px;
  margin: 6px 0px;
}

@media screen and (min-width: 768px) {
  .transaction-filters {
    margin: 0px;
    margin-bottom: 12px;
  }
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.active-fitler-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #2d60ff;
  font-family: Roboto;
  font-size: 16px;
  padding: 0px 10px;
  margin-bottom: 4px;
}

.fitler-button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #718ebf;
  font-family: Roboto;
  font-size: 16px;
  padding: 0px 10px;
  margin-bottom: 4px;
}

.inactive-filter-line {
  width: 100%;
  height: 4px;
  flex-shrink: 0;
}

.active-filter-line {
  width: 100%;
  height: 4px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: #2d60ff;
}

.transactions-table {
  padding: 16px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 0 10px #e1dfdf;
}

@media screen and (min-width: 768px) {
  .transactions-table {
    padding: 16px 30px;
  }
}

.transaction-table-headers {
  display: flex;
  align-items: center;
}

.table-header {
  color: #343c6a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 0px 8px 0px;
  box-sizing: border-box;
}

@media screen and (min-width: 1050px) {
  .table-header {
    font-size: 16px;
    margin: 12px 0px;
  }
}

.username-header {
  width: 54%;
}

@media screen and (min-width: 1050px) {
  .username-header {
    width: 26%;
  }
}

.admin-transaction-name-header {
  width: 24%;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1050px) {
  .admin-transaction-name-header {
    padding: 0px 6px 0px 12px;
  }
}

.admin-category-header {
  display: none;
}

@media screen and (min-width: 1050px) {
  .admin-category-header {
    display: block;
    width: 16%;
  }
}

.admin-date-header {
  display: none;
}

@media screen and (min-width: 1050px) {
  .admin-date-header {
    display: block;
    width: 20%;
  }
}

.admin-amount-header {
  width: 22%;
  text-align: end;
}

@media screen and (min-width: 1050px) {
  .admin-amount-header {
    width: 14%;
  }
}

.user-transaction-name-header {
  width: 40%;
  padding-right: 16px;
}

@media screen and (min-width: 1050px) {
  .user-transaction-name-header {
    padding: 0px 6px 0px 12px;
    width: 32%;
  }
}

.user-category-header {
  display: none;
}

@media screen and (min-width: 1050px) {
  .user-category-header {
    display: block;
    width: 20%;
  }
}

.user-date-header {
  width: 20%;
}

@media screen and (min-width: 1050px) {
  .user-date-header {
    display: block;
    width: 20%;
  }
}

.user-amount-header {
  width: 20%;
  text-align: end;
}

@media screen and (min-width: 1050px) {
  .user-amount-header {
    width: 14%;
  }
}

.transactions-failure-loader {
  display: flex;
  width: 100%;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
}
