.nav {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 24px 36px;
  }
}

.nav-logo {
  margin-right: 100px;
}

.mobile-menu-icon {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu-icon {
    display: none;
  }
}

.mobile-menu-popup {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.close-icon-container {
  padding: 28px;
  display: flex;
  justify-content: flex-end;
}

.close-menu-button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

.navbar-desktop-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar-desktop-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar-title {
  color: #343c6a;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
}

.add-transaction-button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  background: #2d60ff;
  padding: 10px 12px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
}
