.website-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-logo-img {
  height: 36px;
  margin-right: 6px;
}

.money {
  color: #f89a23;
  font-size: 19.66px;
  font-weight: 700;
  margin-left: 6px;
}

.matters {
  color: #02969c;
  font-size: 19.66px;
  font-weight: 700;
  margin-left: 6px;
}
