.dashboard {
  background-color: #f5f7fa;
}

@media screen and (min-width: 768px) {
  .dashboard {
    display: flex;
  }
}

.desktop-sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-sidebar {
    display: flex;
    width: 300px;
    flex-shrink: 0;
    background-color: #ffffff;
  }
}

.dashboard-header-container {
  width: 100%;
  border-left: #e2e4e6 solid 1px;
}

.dashboard-container {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .dashboard-container {
    padding: 36px;
  }
}

.dashboard-title {
  color: #333b69;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  margin-top: 12px;
}
