.login-flex-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px #94a3b8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  padding: 36px 16px;
  max-width: 360px;
}

@media screen and (min-width: 768px) {
  .login-form {
    padding: 48px 36px;
  }
}

.login-website-logo {
  margin-bottom: 16px;
}

.label-input-conatiner {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .label-input-conatiner {
    margin-top: 24px;
  }
}

.login-label {
  color: #64748b;
  font-size: 13px;
  font-weight: 700;
}

.login-input {
  border: 1px solid #7e858e;
  border-radius: 4px;
  background-color: transparent;
  padding: 10px 10px 10px 16px;
  margin-top: 6px;
  color: #181818;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

.sample-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sample-button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #20e859;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  margin: 24px 6px 0px 6px;
}

.login-button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #3b82f6;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  margin-top: 24px;
}
