.mobile-menu-popup {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-icon-container {
  padding: 28px;
  padding-left: 48px;
  display: flex;
  justify-content: flex-end;
}

.close-menu-button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
